#main-btn.active{
    background-color: #0a0a0a !important;
    color: #fff;
    box-shadow: none !important; 
     cursor: default !important;
    transform: none !important;
}
 #main-btn.active:hover{
    transform: none !important;

}

nav .active{
   border-bottom: 3px solid #dc2626;
    cursor: default !important;

}

nav .active:hover{
    color: white !important;
 
 }

